.layout-one-columns {
  @include flex-model-one-column();
}

.layout-two-columns {
  @include flex-model-two-columns($first-basis: 50%, $last-basis: 50%);
}

.layout-multiple-flex-columns {
  @include flex-model-multiple-columns ($basis: calc(82 / 1026 * 100%));
}

.layout-multiple-grid-columns {
  @include grid-model-multiple-columns ($rows: 2, $columns: 4, $el-width: calc(270 / 1200 * 100%), $el-height: calc(435 / 1200 * 100%));
}