.about {
  // Position
  
  // block-model

  // Typography

  // Decoration
  background: $color-light-xl;
  // Animation

  // Various

}

.about-container {
  // Position
  
  // block-model
  @include flex-model-two-columns ($first-basis: calc(300px / $content-width-desktop * 100%), $last-basis: calc(430px / $content-width-desktop * 100%), $align-content: space-between, $justify-content: center, $align-items: center);
  column-gap: calc(120px / $content-width-desktop * 100%);
  padding-top: 80px;
  padding-bottom: 100px;
  // Typography

  // Decoration

  // Animation

  // Various

  @include media-tablet {
    > :first-child {
      flex-basis: calc(300px / $content-width-tablet * 100%);
    }

    > :last-child {
      flex-basis: calc(430px / $content-width-tablet * 100%);
    }
    row-gap: 79px;
  }

  @include media-mobile {
    row-gap: 40px;
    padding-top: 40px;
    padding-bottom: 0;

    > :first-child {
      flex-basis: calc(260px / $content-width-mobile * 100%);
    }

    > :last-child {
      flex-basis: calc(270px / $content-width-mobile * 100%);
    }
  }
}

.about__image {
  // Position
  
  // block-model
  width: calc(300px / $content-width-desktop * 100%);
  height: calc(408px / $content-width-desktop * 100%);
  // Typography

  // Decoration

  // Animation

  // Various

  @include media-tablet {
    width: calc(300px / $content-width-tablet * 100%);
    height: calc(408px / $content-width-tablet *100%);
    order: 1;
  }

  }

.about__content-container {
  // Position
  
  // block-model
  @include flex-model-one-column ($align-content: space-between, $justify-content: flex-start, $align-items: flex-start);
  row-gap: 25px;
  padding: 0 0 0 0;
  // Typography

  // Decoration

  // Animation

  // Various
  & > :nth-child(1) {
    max-width: calc(370px / 430px * 100%);
  }
  
  @include media-mobile {
    justify-content: space-between;
    align-items: center;
  }
}

.about__title {
  // Position
  
  // block-model
  
  // Typography

  // Decoration
  color: $color-dark-l;
  // Animation

  // Various
  
  @include media-mobile {
    text-align: center;
  }
}

.about__paragraph {
  // Position
  
  // block-model
  
  // Typography

  // Decoration
  color: $color-dark-xl;

  // Animation

  // Various

  @include media-mobile {
    text-align: justify;
  }
  
}