.header {
  // Position
  
  // block-model

  // Typography

  // Decoration
  background: 
    url("../src/assets/background/noise_transparent@2x.png"),
    $color-background-dark-header;
    
  // Animation

  // Various

}

.header__container {
  // Position
  
  // block-model
  padding-top: 30px;
  padding-bottom: 30px;
  @include flex-model-two-columns ($first-basis: 186px, $last-basis: 443px, $align-content: space-between, $justify-content: space-between, $align-items: center);
  flex-wrap: nowrap;
  // Typographynav

  // Decoration
  
  // Animation

  // Various

  @include media-tablet-minus1px {
    position: relative;
    padding-left: 20px;
    padding-right: 20px;

    > :last-child {
      flex-basis: auto;
    }
  }
}

.logo-container {
  // Position
  
  // block-model
  @include flex-model-one-column ($align-content: space-between, $justify-content: center, $align-items: center);
  flex-wrap: nowrap;
  row-gap: 10px;

  // Typography

  // Decoration

  // Animation
  
  // Various
  &:hover {
    @include animation ($name: pulsation, $duration: 1.5s, $iteration-count: infinite, $direction: normal, $timing-function: ease, $delay: 0s);
  }
}

.logo-title {
  // Position
  
  // block-model

  // Typography
  font-size: 3.2rem;
  line-height: 3.5rem;
  color: $color-primary;
  // Decoration

  // Animation

  // Various

}

.logo-subtitle {
  // Position
  
  // block-model

  // Typography
  @include text ($style: normal, $weight: 400, $size: 1.3rem, $height: 1.5rem, $let-spacing: 0.1em);

  // Decoration

  // Animation

  // Various

}

.nav {
  // Position

  // block-model

  // Typography

  // Decoration

  // Animation

  // Various
  
  @include media-tablet-minus1px {
    // Position
    position: absolute;
    top: 0;
    right: -100%;
    z-index: 40;
    // block-model
    width: 320px;
    height: 0;
    @include flex-model-one-column ($align-content: space-between, $justify-content: flex-end, $align-items: center);
    flex-wrap: nowrap;

    // Decoration
    background: $color-dark-3xl;

    // Animation

    @include transition ($property: right, $duration: 0.7s, $timing-function: ease, $delay: 0s);
  }
}

@include media-tablet-minus1px {
  .nav_active {
    // Position
    right: 0;
    // block-model
    height: 100vh;

    // Typography
  
    // Decoration
    background: $color-dark-3xl;

    // Animation
    @include transition ($property: right, $duration: 0.7s, $timing-function: ease, $delay: 0s);

    // Various
  }
}

.nav__list {
  // Position
  
  // block-model
  @include flex-model-multiple-columns ($basis: auto, $justify-content: space-between, $align-items: center);

  // Typography

  // Decoration

  // Animation

  // Various

  @include media-tablet-minus1px {
    /* Position */
    overflow: auto;
    @include flex-model-one-column ($align-content: space-between, $justify-content: center, $align-items: center);
    flex-wrap: nowrap;
    row-gap: 42px;

    /* block-model */
    
    /* Typography */
    
    /* Decoration */

    /* Animation */
    @include transition ($property: all, $duration: 0.7s, $timing-function: ease, $delay: 0s);

    /* Various */
  
  }
}

@include media-tablet-minus1px {
  .nav__list_active {
    /* Position */

    /* block-model */
    margin-bottom: 9px;
    /* Typography */
    
    /* Decoration */

    /* Animation */

    /* Various */

  }
}


.nav__item {
  // Position
  
  // block-model

  // Typography
  @include text ($style: normal, $weight: 400, $size: 1.5rem, $height: 2.4rem, $let-spacing: normal);
  color: $color-light-s;
  // Decoration

  // Animation

  // Various
  @include media-tablet-minus1px {
  // block-model
  width: 100%;
  // Typography
  text-align: center;
}

  @include media-mobile {
    @include text ($style: normal, $weight: 400, $size: 3.2rem, $height: 5.12rem, $let-spacing: normal);
  }
}

.nav__link {
  // Position
  position: relative;
  // block-model

  // Typography
  line-height: 50px;
  color: $color-light-l;
  // Decoration
  @extend %cursor-pointer;
  // Animation
  @extend %transition-basic;
  // Various
  &:hover {
    color: $color-light-s;
    @extend %transition-basic;
    @include animation ($name: pulsation, $duration: 1.5s, $iteration-count: infinite, $direction: normal, $timing-function: ease, $delay: 0s);
  &:before {
    position: absolute;
    @extend %transition-basic;

    content: "";
    bottom: 11px;
    width: 100%;
    border-bottom: 3px solid $color-primary;
    transform: scaleX(0);
    transform-origin: bottom left;

  }
  }

  &:active {
    color: $color-light-s;
    @extend %transition-basic;

    &:before {
      transform: scaleX(1);
      @extend %transition-basic;
      transform-origin: bottom right;
    }
  }

  @include media-tablet-minus1px {
    // block-model
    width: inherit;
  }
}

.link_current-page {
  // Position
  position: relative;
  // block-model

  // Typography

  // Decoration
  @extend %pointer-events-disable;
  color: $color-light-s;
  // Animation
  @extend %transition-basic;
  // Various
  &:before {
    position: absolute;

    content: "";
    bottom: 11px;
    width: 100%;
    border-bottom: 3px solid $color-primary;
  }

  @include media-mobile {
    &:before {
      top: 50px;
    }
  }
}