.help {
  // Position
  
  // block-model

  // Typography

  // Decoration
  background: $color-light-xl;
  // Animation

  // Various

}

.help__container {
  // Position
  
  // block-model
  @include flex-model-one-column ($align-content: space-between, $justify-content: center, $align-items: center);
  padding-top: 80px;
  padding-bottom: 98px;
  row-gap: 60px;

  >* {
    flex-basis: auto;
  }

  // Typography

  // Decoration
  
  // Animation

  // Various
  @include media-tablet {
    align-content: center;
  }

  @include media-mobile {
    padding: 42px 5px;
    row-gap: 42px;
  }
}

.help__title {
  // Position
  
  // block-model
  width: calc(310px / $content-width-desktop * 100%);
  // Typography
  text-align: center;
  // Decoration
  color: $color-dark-l;
  // Animation

  // Various

  @include media-tablet {
    width: calc(310px / $content-width-tablet * 100%);
  }

  @include media-mobile {
    width: calc(222px / $content-width-mobile * 100%);
  }
}

.help__content-container {
  // Position
  
  // block-model
  @include flex-model-multiple-columns ($basis: auto, $align-content: space-between, $justify-content: center, $align-items: flex-start);
  gap: 55px 120px;
  // Typography

  // Decoration
  
  // Animation

  // Various

  @include media-tablet {
    width: calc(630px / $content-width-tablet * 100%  );
    align-content: space-around;  
    justify-content: space-evenly;
    align-items: center;
    gap: 55px 59px;
  }

  @include media-mobile {
    width: calc(290px / $content-width-mobile * 100%);
    gap: 30px;

    > :last-child {
      margin-right: auto;
    }
  }
}

.help__option {
  // Position
  
  // block-model
  width: auto;
  height: 113px;
  @include flex-model-one-column ($align-content: space-between, $justify-content: space-between, $align-items: center);
  flex-wrap: nowrap;
  // Typography

  // Decoration
  
  // Animation

  // Various
  &:hover, &:active {
    @extend %transition-basic;
    @include animation ($name: pulsation, $duration: 1s, $iteration-count: infinite, $direction: normal, $timing-function: ease, $delay: 0s);
  }

  @include media-tablet {
    min-width: 170px;
  }

  @include media-mobile {
    min-width: 130px;
    height: 87px;
  }
}

.help__icon {
  // Position
  
  // block-model
  width: 60px;
  height: 60px;
  // Typography

  // Decoration
  
  // Animation

  // Various

  @include media-mobile {
    width: 50px;
    height: 50px;
  }
}

.help__subtitle {
  // Position
  
  // block-model

  // Typography
  text-align: center;
  white-space: nowrap;
  // Decoration
  color: $color-dark-l;
  // Animation

  // Various

}