.button {
  // Position

  // block-model
  @include flex-model-one-column ($align-content: center, $justify-content: center, $align-items: center);
  // Typography
  @extend %font-Georgia;
  @include text ($size: 17px, $height: 130%, $let-spacing: 0.06em);
  // Decoration
  @include border ($color: transparent);
  border-radius: 100px;
  text-align: center;

  // Animation
  @extend %transition-basic;
  
  // Various

  &:hover {
    @extend %transition-basic;
    background-color: $color-primary-light;

  }

  &:active {
    @extend %transition-basic;
    background-color: $color-primary;
  }
}


.not-only__button {
  // Position
  
  // block-model
  width: 207px;
  height: 52px;
  // Typography

  // Decoration
  background: $color-primary;
  // Animation

  // Various

}

.our-friends__button_left {
  // Position
  
  // block-model
  width: 52px;
  height: 52px;
  flex: 0 0 auto;
  // Typography

  // Decoration
  background: url("../src/assets/images/Main/03_Our%20Friends/buttons/button_arrow_left.svg");
  background-repeat: no-repeat;
  @extend %cursor-pointer;
  @extend %transition-basic;

  // Animation

  // Various
  &:hover {
    @extend %transition-basic;
    background-color: $color-primary-light;
    border-radius: 100px;
  }

  &:active {
    @extend %transition-basic;
    background-color: $color-primary;
    border-radius: 100px;
  }
}

.our-friends__button_right {
  // Position
  
  // block-model
  width: 52px;
  height: 52px;
  flex: 0 0 auto;
  // Typography

  // Decoration
  background: url("../src/assets/images/Main/03_Our%20Friends/buttons/button_arrow_right.svg");
  background-repeat: no-repeat;
  @extend %cursor-pointer;
  @extend %transition-basic;

  // Animation

  // Various
  &:hover {
    @extend %transition-basic;
    background-color: $color-primary-light;
    border-radius: 100px;
  }

  &:active {
    @extend %transition-basic;
    background-color: $color-primary;
    border-radius: 100px;
  }
}

.our-friends__button {
  // Position
  
  // block-model
  width: 261px;
  height: 52px;
  // Typography

  // Decoration
  background-color: $color-primary;

  // Animation

  // Various

}

.button-pagination {
  // Position
  
  // block-model

  // Typography

  // Decoration
  @extend %cursor-pointer;
  // Animation
  @extend %transition-basic;
  
  // Various

  &:hover {
    @extend %transition-basic;
    background-color: $color-primary-light;
    border-radius: 100px;
  }

  &:active {
    @extend %transition-basic;
    background-color: $color-primary;
    border-radius: 100px;
  }
}

.button-start {
  // Position
  
  // block-model
  width: 52px;
  height: 52px;

  // Typography

  // Decoration
  background-image: url("../src/assets/images/Pets/01_Our%20Friends/icons/button_paginator_inactive-start.svg");
  // Animation

  // Various

}

.button-previous {
  // Position
  
  // block-model
  width: 52px;
  height: 52px;

  // Typography

  // Decoration
  background-image: url("../src/assets/images/Pets/01_Our%20Friends/icons/button_paginator_inactive_left.svg");
  // Animation

  // Various

}

.button-count {
  // Position
  
  // block-model
  width: 52px;
  height: 52px;

  // Typography

  // Decoration
  background-image: url("../src/assets/images/Pets/01_Our%20Friends/icons/button_paginator_active-count.svg");
  // Animation

  // Various

}

.button-next {
  // Position
  
  // block-model
  width: 52px;
  height: 52px;
  // Typography

  // Decoration
  background-image: url("../src/assets/images/Pets/01_Our Friends/icons/button_paginator-right.svg");
  // Animation

  // Various

}

.button-end {
  // Position
  
  // block-model
  width: 52px;
  height: 52px;

  // Typography

  // Decoration
  content: '';
  background-image: url("../src/assets/images/Pets/01_Our%20Friends/icons/button_paginator-end.svg");
  // Animation

  // Various

}

.button-disabled {
  // Position
  
  // block-model
  width: 52px;
  height: 52px;

  // Typography

  // Decoration
  @extend %link-disable;
  // Animation

  // Various

}