$font-size-initial: 10px;

$padding-content-desktop: 40px;
$padding-content-tablet: 30px;
$padding-content-mobile: 10px;

* {
  // Position

  // block-model
  box-sizing: border-box;
  // Typography

  // Decoration

  // Animation

  // Various

}

html {
  // Position

  // block-model
  scroll-behavior: smooth;
  // Typography
  font-size: $font-size-initial;
  // Decoration

  // Animation

  // Various

}

body {
  // Position

  // block-model
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;

  // Typography
  @extend %font-Arial;
  font-size: 1.6rem
  // Decoration

  // Animation

  // Various

}

.title-h1 {
  // Position

  // block-model
  @extend %reset-padding-margin;

  // Typography
  @extend %font-Georgia;
  @include text ($size: 4.4rem, $height: 5.72rem);

  // Decoration
  color: $color-light-xl;
  // Animation

  // Various

}

.title-h2 {
  // Position

  // block-model
  @extend %reset-padding-margin;

  // Typography
  @extend %font-Georgia;
  @include text ($size: 3.5rem, $height: 4.55rem, $let-spacing: 0.06em);

  // Decoration

  // Animation

  // Various

}

.title-h3 {
  // Position

  // block-model
  @extend %reset-padding-margin;

  // Typography
  @extend %font-Georgia;
  @include text ($size: 2rem, $height: 2.3rem, $let-spacing: 0.06em);

  // Decoration

  // Animation

  // Various

}

.title-h4 {
  // Position

  // block-model
  @extend %reset-padding-margin;

  // Typography
  @extend %font-Georgia;
  @include text ($size: 1.5rem, $height: 1.65rem, $let-spacing: 0.06em);

  // Decoration

  // Animation

  // Various

}

.paragraph-l {
  // Position

  // block-model

  // Typography
  @extend %font-Arial;
  @include text ($style: normal, $weight: 400, $size: 1.5rem, $height: 2.4rem, $let-spacing: normal);

  // Decoration

  // Animation

  // Various

}

.link {
  // Position

  // block-model
  width: inherit;
  height: inherit;
  padding: calc((48px - 1.7rem) / 2) 0;
  // Typography
  @extend %font-Georgia;
  @include text ($size: 1.7rem, $height: 2.21rem, $let-spacing: 0.06em);

  // Decoration
  color: $color-dark-3xl;
  
  // Animation
  @extend %transition-basic;
  
  // Various
  &:hover, &:active {
    @extend %transition-basic;
    @include animation ($name: pulsation, $duration: 1s, $iteration-count: infinite, $direction: normal, $timing-function: ease, $delay: 0s);
  }
  
  &:hover {
    @extend %transition-basic;
    background-color: $color-primary-light;
    border-radius: inherit;
  }

  &:active {
    @extend %transition-basic;
    background-color: $color-primary;
    border-radius: inherit;
  }
}

nav, ul, li {
   // Position

  // block-model
  @extend %reset-padding-margin;

  // Typography

  // Decoration

  // Animation

  // Various

}

li {
  // Position

  // block-model

  // Typography

  // Decoration
  list-style: none;
  // Animation

  // Various

}

a {
   // Position

  // block-model
  display: inline-block;
  @extend %reset-padding-margin;

  // Typography
  color: $color-dark-s;
  // Decoration
  text-decoration: none;
  @extend %cursor-pointer;
  
  // Animation

  // Various
  & :visited {
    color: $color-dark-s;
  }
}

img {
  // Position
  @extend %reset-padding-margin;

  // block-model
  display: block;
  // Typography

  // Decoration

  // Animation

  // Various

}

p {
  // Position

  // block-model
  @extend %reset-padding-margin;

  // Typography

  // Decoration

  // Animation

  // Various

}

.container {
  // Position

  // block-model
  margin: 0 auto;
  
  // Typography

  // Decoration

  // Animation

  // Various

  @include media-wide-desktop {
    max-width: $content-width-desktop;
  }

  @include media-desktop {
    padding: 0 $padding-content-desktop;
  }
  
  @include media-tablet {
    padding: 0 $padding-content-tablet;
  }
  
  @include media-mobile {
    padding: 0 $padding-content-mobile;
  }
}

.hidden {
  // Position
  
  // block-model
  display: none;

  // Typography

  // Decoration

  // Animation

  // Various

}
