$color-background-dark-header: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
$color-background-dark-footer: radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;

$color-background-light-pets: #F6F6F6;

$color-background-modal: rgba(41, 41, 41, 0.6);

$color-dark-3xl: #292929;
$color-dark-xl: #4C4C4C;
$color-dark-l: #545454;
$color-dark-m: #B2B2B2;
$color-dark-s: #CDCDCD;

$color-dark: #000000;

$color-light-xl: #FFFFFF;
$color-light-l: #CDCDCD;
$color-light-s: #FAFAFA;

$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;

$width-desktop: 1280px;
$width-tablet: 768px;
$width-mobile: 320px;