@mixin text ($style: normal, $weight: 400, $size: 1.5rem, $height:$size, $let-spacing: normal) {
  font-style: $style;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
  letter-spacing: $let-spacing;
}

@mixin border ($width: 2px, $style: solid, $color: $color-primary) {
  border: $width $style $color;
}

@mixin transition ($property: all, $duration: 0.5s, $timing-function: ease, $delay: 0s) {
  transition: $property $duration $timing-function $delay;
}

@mixin flex-model-two-columns ($first-basis: 50%, $last-basis: 50%, $align-content: center, $justify-content: space-between, $align-items: center) {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: $align-content;
  justify-content: $justify-content;
  align-items: $align-items;
  > :first-child {
    flex-basis: $first-basis;
  }
  > :last-child {
    flex-basis: $last-basis;
  }
}

@mixin flex-model-one-column ($align-content: space-between, $justify-content: center, $align-items: flex-start) {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: $align-content;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin flex-model-multiple-columns ($basis, $align-content: space-between, $justify-content: center, $align-items: flex-start) {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: $align-content;
  justify-content: $justify-content;
  align-items: $align-items;

  >* {
    flex-basis: $basis;
  }
}

@mixin grid-model-multiple-columns ($rows: 2, $columns: 4, $el-width: calc(270 / 1200 * 100%), $el-height: calc(435 / 1200 * 100%)) {
  display: grid;
  grid-template-rows: repeat($rows, $el-width);
  grid-template-columns: repeat($columns, $el-height);
}

@mixin media-wide-desktop {
  @media (min-width: calc($width-desktop + 1px)) {
    @content;
  }
}

@mixin media-desktop {
  @media (max-width: $width-desktop) {
    @content;
  }
}

@mixin media-tablet {
  @media (max-width: $width-tablet) {
    @content;
  }
}

@mixin media-mobile {
  @media (max-width: $width-mobile) {
    @content;
  }
}